@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  height: 100vh;
  position: relative;
  font-family: Roboto;
}

.task-list-title {
  color: #28A745;
}

.greeting {
  font-size: 26px;
  font-weight: bold;
  text-align: center;

}

.task-list {
  font-size: 22px;
}

.task-list .task-done {
  text-decoration: line-through;
  color: #28A745;
}

.task-wrapper {
  border: 1px solid #b9bcec;
  padding: 5px 0;
  border-radius: 10px;
}

.task-wrapper img {
  vertical-align: sub;
}

.task-checkbox img {

}

.editTask input {
  height: 31px;
  width: 100%;
  border: none;
  border-bottom: 2px solid darkgreen;
  padding: 0;
  outline: none;

}

.delete-task,
.edit-task,
.cancel-edit,
.apply-task {
  position: relative;

  & > .icon-description {
     visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    position: absolute;
  }

  &:hover > .icon-description {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: -21px;
    left: 9px;
    font-size: 10px;
  }

  & img {
    height: 25px;
    transition-duration: 0.5s;
  }

  &:hover img {
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
}

.delete {
  color: red;
}

.edit {
  color: #28A745;
}
