@import "../../node_modules/bootstrap/scss/bootstrap";


.task-list {
  font-size: 22px;
}

.task-list .task-done {
  text-decoration: line-through;
  color: #28A745;
}

.task-wrapper {
  border: 1px solid #b9bcec;
  padding: 5px 0;
  border-radius: 10px;
}

.error-wrapper {
  border: 1px solid red;
  padding: 5px 0;
  border-radius: 10px;
}

.task-wrapper img {
  vertical-align: sub;
}


.edit-task-input textarea {
  resize: none;
  overflow: hidden;
  width: 100%;
  border: none;
  border-bottom: 2px solid darkgreen;
  outline: none;
}


.delete {
  color: red;
  left: 8px;
}

.cancel {
  color: red;
  left: 7px;
}

.edit {
  color: #28A745;
  left: 14px;
}

.apply {
  color: #28A745;
  left: 10px;
}


.error-message {
  text-align: center;
  position: absolute;
  top: -26px;
  width: 280px;
  left: 50%;
  margin-left: -140px;

  & span {
    color: red;
    background-color: white;
    font-size: 18px;
    padding: 0px 5px;
  }
}


@media screen and (min-width: 1360px) {
  .delete-task,
  .edit-task,
  .cancel-edit,
  .apply-task {
    position: relative;

    & > .icon-description {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.3s linear;
      position: absolute;
    }

    &:hover > .icon-description {
      visibility: visible;
      opacity: 1;
      position: absolute;
      top: -21px;
      font-size: 10px;
      font-weight: bold;
    }

    & img {
      height: 25px;
      transition-duration: 0.5s;
    }

    &:hover img {
      transform: scale(1.2);
      transition-duration: 0.5s;
    }
  }

}


@media screen and (min-width: 621px) and (max-width: 1359px) {
  .TL-container-wrapper {
    min-width: 90vw;
  }


  .delete-task,
  .edit-task,
  .cancel-edit,
  .apply-task {
    position: relative;

    & > .icon-description {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.3s linear;
      position: absolute;
    }


    & img {
      height: 20px;
      transition-duration: 0.5s;
    }


  }

}

@media screen and (max-width: 620px) {
  .TL-container-wrapper {
    min-width: 97vw;
  }

  .task-wrapper img {
    vertical-align: sub;
    height: 20px;
    padding-left: 8px;
    margin-bottom: 3px;
  }

  .delete-task,
  .edit-task,
  .cancel-edit,
  .apply-task {
    display: none;
  }

  .task-done,
  .task-number,
  .task,
  .edit-task-input {
    font-size: 20px;
  }


}


